.container {
  height: inherit;
  width: 100%;
  position: relative;
}

/*graphics images */

.container > img, .triangle {
    position: absolute;
}

.right {
  right: 0;
  top: 20%;
}

.bottom {
  bottom: 0;
  right: 20%;
}

.top {
    position: absolute;
    left: 15px;
    bottom: 25px;
}

.triangle {
    left: 10%;
    top: 35%;
}

/* form section */

.main {
  padding: 5%;
  box-sizing: border-box;
  height: 100%;
}

.main,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form > * {
    width: 25%;
    font-family: 'Poppins', serif;
    font-size: 0.875em;
    text-align: center;
}

.form > p {
    font-size: 0.75em;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin: 0;
}

.submit {
    height: 40px;
    background-color: #1A5FFF;
    color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #E9444B40;
    border-radius: 12px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

input.submit {
    margin-top: 10px;
}

.google {
    background-color: #FFFFFF;
    padding: 2.5px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 25px;
}

.back {
  align-self: flex-start;
  cursor: pointer;
}

.form {
  flex: 1;
  width: 100%;
}

p.footer {
    margin: 10px;
    align-self: center;
    font-size: 0.875em;
}

.footer > span {
    color: #1A5FFF;
    cursor: pointer;
}