.container {
    height: 100vh;
    background-color: var(--primary-background);
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    padding: 25px;
    padding-top: 7%;
}

.container * {
    font-family: 'Open Sans', sans-serif;
}

.sidepanel {
    width: 25%;
}

.workspace {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 25px;
    overflow-y: auto;
}

.workspace > * {
    width: 25%;
}

.start {
    display: flex;
    background-color: var(--secondary-background);
    padding: 15px;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 16px;
    gap: 15px;
    align-items: center;
}

:global(.light) .start{
    border: 1px solid rgba(214, 214, 214, 1);
}

.start > p {
    margin: 0;
    margin-bottom: 5px;
}
