.container {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.25em;
  border: 2px solid var(--border-color);
  background-color: var(--primary-background);
  border-radius: 8px;
  margin: auto;
}

.spinner {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
