.container {
    display: flex;
    align-items: center;
    font-size: 0.875em;
    font-weight: 600;
    gap: 10px;
}

.bar {
    width: 50px;
    border-radius: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in 0s;
    background-color: var(--secondary-color);
}

.toggle {
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    transition: all 1s ease-in 0s;
}

.dark .bar {
    justify-content: flex-end;
}

.light .bar {
    justify-content: flex-start;
}